
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-content {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-self: center;        
    color: white;
    height: 800px;
    font-family: 'Bebas Neue', cursive;
}
.content {
    display: block;
    margin-left: 5%;
    font-weight: 700;
    font-size: 7rem;
    max-width:60%;
    letter-spacing: 4px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #3f51b5, transparent) #04f769;
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
  
}
.Hey {
    font-style: italic;
    size: 6rem;
    padding-right: 5px;
}
.also {
    padding: 0 25px;
    text-transform: lowercase;
    font-size: 2rem;
    font-style: italic;
}
.Jusuf {
    background: linear-gradient(90deg, #9e6a0a, transparent) #f73d04;
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;

        cursor: pointer;
        position: relative;
        border: none;
        
        text-transform: uppercase;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 500ms;
        transition-property: color;
      }
      
      .Jusuf:focus,
      .Jusuf:hover {
        color: #dba540;
      }
      
      .Jusuf:focus:after,
      .Jusuf:hover:after {
        width: 100%;
        left: 0%;
      }
      
      .Jusuf:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
      }

.p-content {
    
    padding: 0 30px;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    row-gap: 5px;
}
.loader {
    margin-bottom: 50px;
    margin-left: 200px;
    --cell-size: 50px;
    --cell-spacing: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
  }
  
  .cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
  }
  
  .cell.d-1 {
    animation-delay: 100ms;
  }
  
  .cell.d-2 {
    animation-delay: 200ms;
  }
  
  .cell.d-3 {
    animation-delay: 300ms;
  }
  
  .cell.d-4 {
    animation-delay: 400ms;
  }
  
  .cell:nth-child(1) {
    --cell-color: #00FF87;
  }
  
  .cell:nth-child(2) {
    --cell-color: #0CFD95;
  }
  
  .cell:nth-child(3) {
    --cell-color: #17FBA2;
  }
  
  .cell:nth-child(4) {
    --cell-color: #23F9B2;
  }
  
  .cell:nth-child(5) {
    --cell-color: #30F7C3;
  }
  
  .cell:nth-child(6) {
    --cell-color: #3DF5D4;
  }
  
  .cell:nth-child(7) {
    --cell-color: #45F4DE;
  }
  
  .cell:nth-child(8) {
    --cell-color: #53F1F0;
  }
  
  .cell:nth-child(9) {
    --cell-color: #60EFFF;
  }
  
  /*Animation*/
  @keyframes ripple {
    0% {
      background-color: transparent;
    }
  
    30% {
      background-color: var(--cell-color);
    }
  
    60% {
      background-color: transparent;
    }
  
    100% {
      background-color: transparent;
    }
  }