.navbar {
  background-color: transparent;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: auto;
  position: sticky;
  top: 0;
  z-index: 20;
}
:root{
  --main-color: white;
  
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  margin-left: 5em;
  
}

.nav-logo {
  
  color: var(--main-color);
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  flex-grow: 1;
  content: "";
  display: block;
  height: 3px;
  background: red;
  transition: width 1s ease, background-color 0.7s ease;
  padding-left: 1em;
}
.nav-logo:hover{
  transition: 0.5s ease;
  color: gray;
  background: linear-gradient(90deg, #3f51b5, transparent) #04f769;
}
  

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  
  
}

.nav-links {
  color: var(--main-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: red;
  transition: width 1s ease, background-color 0.7s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: var(--main-color);
}

.nav-item .active {
  color: var(--main-color);
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: black;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: white;
    border: none;
  }
  .nav-links {
    color: white;
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  
  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--main-color);
  }
}